In [1]:
#Criar uma variável tipo inteira 
x = 1
print(x)
#Criar uma variável do tipo float
y = 3.13
print(y)
#criar uma variável do tipo string
m = "python"
m = 'python'
print(m)
#criar uma variável do tipo logica 
w = True
y = False
print(y)

1
3.13
python
False

In [2]:
#Calculo 
x = 10
y = 20
z = 100
w = (x+y)*z/100
print(w)

30.0

In [5]:
#Exibir textono console
print("esse texto será impressor no console")
print(x)
print("Texto e duas vareáveis: ",x,",",z)

esse texto será impressor no console
10
Texto e duas vareáveis:  10 , 100

In [5]:
#Exibir textono console
print("esse texto será impressor no console")
print(x)
print("Texto e duas vareáveis: ",x,",",z)

esse texto será impressor no console
10
Texto e duas vareáveis:  10 , 100

In [5]:
#Exibir textono console
print("esse texto será impressor no console")
print(x)
print("Texto e duas vareáveis: ",x,",",z)

esse texto será impressor no console
10
Texto e duas vareáveis:  10 , 100

In [6]:
#Verifiacar o tipo de objeto
print(type(x))
print(type(m))

<class 'int'>
<class 'str'>

In [12]:
#entrada de dados 
print("informe o valor: ") 
i = input()
#Mostra do tipo string
print(type(i))

informe o valor:

 10

<class 'str'>

In [13]:
#Entra com valor msg junto e separada
print("informe o valor: ")
i = input()
#ou
i = input("mostre o valor: ")

informe o valor:

 10
mostre o valor:  20

In [15]:
#conversão de valores para inteiro
var = input("informe o valor: ")
print(type(var))
var = int(var)
print(type(var))

informe o valor:  10

<class 'str'>
<class 'int'>

In [16]:
#para float
var = input("informe o valor: ")
print(type(var))
var = float(var)
print(type(var))

informe o valor:  20.3

<class 'str'>
<class 'float'>

In [17]:
#Esse texto e um cometario
x = 10 #cometario